<form method="post" action="{{ path('projet_fin_etude_delete', {'id': projet_fin_etude.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet_fin_etude.id) }}">
    <button class="btn">Delete</button>
</form>
