{% extends 'app/index.html.twig' %}

{% block title %}New Classe{% endblock %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Classes</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{ path('app') }}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Nouvelle departement</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Ajouter Classe
                            </div>
                            <div class="card-body">
                                 {{ include('classe/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </main>
                {% include('app/footer.html.twig') %}
            </div>
            {% endblock %}